

<!--  portfolio container
==============================-->
<div class="container">
  <div id="portfolio" class="row">
    
    <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <%= image_tag("save.png", :alt => "save", :width => 300, :height => 200) %>
        
	</div>
</div>

      <!-- / ITEM-->
      
    <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a target="_parent"  href = "/setup/c80"><%= image_tag("80c.png", :alt => "80c", :width => 300, :height => 200) %></a>
        
		</div>
	</div>

      <!-- / ITEM-->
      
     <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a target="_parent"  href = "/setup/rgess"><%= image_tag("rgess.png", :alt => "rgess", :width => 300, :height => 200) %></a>
        
	</div>
</div>

      <!-- / ITEM-->
	  
	      <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a target="_parent"  href = "/setup/bonds"><%= image_tag("bond.png", :alt => "bond", :width => 300, :height => 200) %></a>
       
	</div>
</div>

      <!-- / ITEM-->
    
          <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <%= image_tag("essentials.png", :alt => "essentials", :width => 300, :height => 200) %></a>
        
	</div>
</div>

      <!-- / ITEM-->
   
             <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a target="_parent"  href = "/setup/emergency"><%= image_tag("emergency.png", :alt => "emergency", :width => 300, :height => 200) %></a>
        
	</div>
</div>

      <!-- / ITEM-->
    
             <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a  target="_parent" href = "/setup/gold"><%= image_tag("gold.png", :alt => "gold", :width => 300, :height => 200) %></a>
           
	</div>
</div>

      <!-- / ITEM-->
    
             <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a  target="_parent" href = "/setup/justinvest"><%= image_tag("justinvest.png", :alt => "justinvest", :width => 300, :height => 200) %></a>
        
	</div>
</div>

      <!-- / ITEM-->

      <div class="span3 box">
      <div class="thumbnail">
       <%= image_tag("life.png", :alt => "life", :width => 300, :height => 200) %></a>
        
	</div>
</div>

      <!-- / ITEM-->
      
    <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        

        <a target="_parent" href = "/setup/house"><%= image_tag("house.png", :alt => "house", :width => 300, :height => 200) %></a>
		</div>
	</div>

      <!-- / ITEM-->
      
     <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a target="_parent" href = "/setup/marriage"><%= image_tag("marriage.png", :alt => "marriage", :width => 300, :height => 200) %></a>
        
	</div>
</div>

      <!-- / ITEM-->
	  
	      <!-- ITEM-->
    <div class="span3 box">
      <div class="thumbnail">
        <a  target="_parent" href = "/setup/education"><%= image_tag("education.png", :alt => "education", :width => 300, :height => 200) %></a>
        
	</div>
</div>



  
  </div>
</div>
  <!-- / portfolio container
==============================-->