
			
  <h2>Banking  Information</h2>
   
  	
  	Bank Name:  <%= @bank.name_of_bank %> <br>
  	Account Number:  <%= @bank.bank_account_num %> <br>
  	Account Type:  <%= @bank.bank_account_type %> <br>
  	Mode of holding:  <%= @bank.bank_mode_of_holding %> <br>
  	First Holder:  <%= @bank.bank_first_holder %> <br>
  	Second Holder:  <%= @bank.bank_second_holder %> <br>
  	Branch Address:  <%= @bank.bank_branch_address %> <br>
  	City:  <%= @bank.bank_city %> <br>
  	IFSC Code:  <%= @bank.bank_ifsc_code %> <br>
  	MICR Code:  <%= @bank.bank_micr_code %> <br>
  	Years of validity for SIP mandate:  <%= @bank.bank_sip_year %> <br>
  	Maximum Per-day Amount for the mandate:  <%= @bank.bank_sip_mandate %> <br>
  	
	





	