<script type="text/javascript">
function show_modal(){
    $('#myModal3').modal('show');
}   

function hide_modal(){
    $('#myModal3').modal('hide');
} 

$(document).ready(function ()
{
    $('#myModal3').modal('show');
    window.setTimeout(hide_modal, 3000);
});




</script>

<!-- Button to trigger modal -->
 
<!-- Modal -->
<div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-body">
  	<center><%= image_tag("logos.jpg", :alt => "logo") %></center>
    <center><%= image_tag("loading.gif", :alt => "loading") %></center>
  </div>
</div>


<% if @analysis.type == "Gold" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">


function allocation(){
	if (<%=@analysis.initialamount%>+(<%=@analysis.periodicamount%>*12)>=100000)
		return 50
	if (<%=@analysis.initialamount%>>=30000)
		return 50
	if (<%=@analysis.periodicamount%>>=10000)
		return 50
	else return 100
}





var data = [
    { label: "SBI Gold Fund",  data: allocation(), color: "#0000FE"},{ label: "ICICI Pru Gold Savings Fund",  data: 100-allocation(), color: "#7E0B80"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">
							As you are looking to set aside 
							<% if @analysis.initialamount > 0 %> Rs. <u><%= @analysis.initialamount %></u> initially
							<%end%>
							<% if @analysis.initialamount > 0 %> 
							<% if @analysis.periodicamount > 0 %> 
							and
							<%end%>
							<%end%>
							<% if @analysis.periodicamount > 0 %>
							 a monthly deposit of Rs. <u><%=@analysis.periodicamount%></u>
							<%end%>for investments in Gold,  we have customized a portfolio of gold savings mutual 

							funds that will optimize your investments and track 

							the performance of Gold over time.</font>
						</p> 
					</blockquote>
					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active">Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal7" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>






<% if @analysis.type == "Emergency" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">


function allocation(){
	
	if (<%=@analysis.initialamount%><50000)
			if (<%=@analysis.periodicamount%><10000)
			return [100,0,0,0]
			if (<%=@analysis.periodicamount%>>=10000)
				if (<%=@analysis.periodicamount%><40000)
				return [50,50,0,0]
			if (<%=@analysis.periodicamount%>>=40000)
				if (<%=@analysis.periodicamount%><100000)
				return [33,33,33,0]
			if (<%=@analysis.periodicamount%>>=100000)
				return [25,25,25,25]
	if (<%=@analysis.initialamount%>>=50000)
		if (<%=@analysis.initialamount%><200000){
			if (<%=@analysis.periodicamount%>>=40000)
				if (<%=@analysis.periodicamount%><100000)
				return [33,33,33,0]
			if (<%=@analysis.periodicamount%>>=100000)
				return [25,25,25,25]
			else return [50,50,0,0]}
	if (<%=@analysis.initialamount%>>=200000)
		if (<%=@analysis.initialamount%><1000000){
			if (<%=@analysis.periodicamount%>>=100000)
				return [25,25,25,25]
			else return [33,33,33,0]}

	if (<%=@analysis.initialamount%>>=1000000)
		return [25,25,25,25]


	
}





var data = [
    { label: "HDFC Cash Management Savings",  data: allocation()[0], color: "#0000FE"},{ label: "Reliance Cash Management",  data: allocation()[1], color: "#7E0B80"},{ label: "Templeton India Ultra ST",  data: allocation()[2], color: "#FF94CB"},{ label: "DWS Ultra ST",  data: allocation()[3], color: "brown"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">
							As you are looking to set aside 
							<% if @analysis.initialamount > 0 %> Rs. <u><%= @analysis.initialamount %></u> initially
							<%end%>
							<% if @analysis.initialamount > 0 %> 
							<% if @analysis.periodicamount > 0 %> 
							and
							<%end%>
							<%end%>
							<% if @analysis.periodicamount > 0 %>
							 a monthly deposit of Rs. <u><%=@analysis.periodicamount%></u> 
							 <%end%>for 
							emergency savings, we have calculated that 

							a portfolio of 100% in debt will secure you from any emergency situations.</font>
						</p> 
					</blockquote>
					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active">Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal8" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>




<% if @analysis.type == "Fixed" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">

var data = [
    { label: "Shriram Transport Fixed Deposit",  data: 50, color: "#0000FE"},{ label: "ICICI Home Finance Fixed Deposit",  data: 50, color: "#7E0B80"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">

							As you are looking to set aside Rs. <u><%= @analysis.initialamount %></u> for 

							investment products with a fixed yield, we have customized a fixed deposit portfolio for you that will maximize potential returns basis the risk you wish to take.



						</font>
						</p> 
					</blockquote>
					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active">Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal9" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal9" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>










<% if @analysis.type == "LifeGoal" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">


function futurevalue(){
	var ratearray = [1.0072,1.0071,1.0069,1.0067,1.0068,1.0065,1.0075,1.0081,1.0086,1.0087,
	1.0087,1.0085,1.0090,1.0085,1.0088,1.0085,1.0082,1.0082,1.0082,1.0082,1.0082,1.0082,1.0083,
	1.0083,1.0083,1.0083,1.0083,1.0083,1.0083,1.0083]
	var totalperiod = 12*<%=@analysis.timeperiod%>
	var ratemultiplier = ratearray[<%=@analysis.timeperiod%>-1]
	var fv = <%=@analysis.initialamount%>*Math.pow(ratemultiplier,totalperiod)
	for (var i=1;i<totalperiod+1;i++)
		{ 
		fv = fv+<%=@analysis.periodicamount%>*Math.pow(ratemultiplier,totalperiod-i)
		}
	return Math.round(fv)
}

function amountofftrack(){
	return <%=@analysis.goalamount%>-futurevalue()
}

function extrainitialamount(){
	var ratearray = [1.0072,1.0071,1.0069,1.0067,1.0068,1.0065,1.0075,1.0081,1.0086,1.0087,
	1.0087,1.0085,1.0090,1.0085,1.0088,1.0085,1.0082,1.0082,1.0082,1.0082,1.0082,1.0082,1.0083,
	1.0083,1.0083,1.0083,1.0083,1.0083,1.0083,1.0083]
	var totalperiod = 12*<%=@analysis.timeperiod%>
	var ratemultiplier = ratearray[<%=@analysis.timeperiod%>-1]
	var extrainit= amountofftrack()/Math.pow(ratemultiplier,totalperiod)
	return Math.round(extrainit)
}

function extramonthlydeposit(){
	var ratearray = [1.0072,1.0071,1.0069,1.0067,1.0068,1.0065,1.0075,1.0081,1.0086,1.0087,
	1.0087,1.0085,1.0090,1.0085,1.0088,1.0085,1.0082,1.0082,1.0082,1.0082,1.0082,1.0082,1.0083,
	1.0083,1.0083,1.0083,1.0083,1.0083,1.0083,1.0083]
	var totalperiod = 12*<%=@analysis.timeperiod%>
	var ratemultiplier = ratearray[<%=@analysis.timeperiod%>-1]
	var extraratio = 0
	for (var i=1;i<totalperiod+1;i++)
		{ 
		extraratio =extraratio+Math.pow(ratemultiplier,totalperiod-i)
		}
	var extramonthly = amountofftrack()/extraratio
	return Math.round(extramonthly)
}


function myFunction()
{
var debtdata=[92,84,77,71,65,60,55,50,46,42,39,36,33,30,27,25,23,21,19,18,16,15,14,13,12,11,10,10,10,10]

return debtdata[<%=@analysis.timeperiod%>-1];
}

function myFunction2()
{
var debtdata=[92,84,77,71,65,60,55,50,46,42,39,36,33,30,27,25,23,21,19,18,16,15,14,13,12,11,10,10,10,10]

return 100-debtdata[<%=@analysis.timeperiod%>-1];
}


function allocationequity(){
	var initial = <%=@analysis.initialamount%>*myFunction2()/100
	var periodic = <%=@analysis.periodicamount%>*myFunction2()/100
	var x,y =0
	if (initial<10000)
			x=1
			
	if (initial>=10000)
		if (initial<50000)
			x=2
	if (initial>=50000)
		if (initial<200000)
			x=3
	if (initial>=200000)
			x=4
	if (periodic<5000)
			y=1
			
	if (periodic>=5000)
		if (periodic<20000)
			y=2
	if (periodic>=20000)
		if (periodic<60000)
			y=3
	if (periodic>=60000)
			y=4



	if (Math.max(x,y)==1)
		return [myFunction2(),0,0,0];	
	if (Math.max(x,y)==2)
		return [myFunction2()/2,myFunction2()/2,0,0];
	if (Math.max(x,y)==3)
		return [myFunction2()/3,myFunction2()/3,myFunction2()/3,0];
	if (Math.max(x,y)==4)
		return [myFunction2()/4,myFunction2()/4,myFunction2()/4,myFunction2()/4,myFunction2()/4];
	
}

function allocationdebt(){
	if(<%=@analysis.timeperiod%>>3)
	{
	var initial = <%=@analysis.initialamount%>*myFunction()/100
	var periodic = <%=@analysis.periodicamount%>*myFunction()/100
	var x,y=0
	if (initial<30000)
			x=1
			
	if (initial>=30000)
		if (initial<100000)
			x=2
	if (initial>=100000)
		if (initial<500000)
			x=3
	if (initial>=500000)
			x=4
	if (periodic<10000)
			y=1
			
	if (periodic>=10000)
		if (periodic<30000)
			y=2
	if (periodic>=30000)
		if (periodic<60000)
			y=3
	if (periodic>=60000)
			y=4

	if (Math.max(x,y)==1)
		return [myFunction(),0,0,0,0,0,0,0]	;
	if (Math.max(x,y)==2)
		return [myFunction()/2,myFunction()/2,0,0,0,0,0,0];
	if (Math.max(x,y)==3)
		return [myFunction()/3,myFunction()/3,myFunction()/3,0,0,0,0,0];
	if (Math.max(x,y)==4)
		return [myFunction()/4,myFunction()/4,myFunction()/4,myFunction()/4,0,0,0,0];
	}
	else
	{

	
	var initial = <%=@analysis.initialamount%>*myFunction()/100
	var periodic = <%=@analysis.periodicamount%>*myFunction()/100
	var x,y
	if (initial<50000)
			x=1
			
	if (initial>=50000)
		if (initial<200000)
			x=2
	if (initial>=200000)
		if (initial<1000000)
			x=3
	if (initial>=1000000)
			x=4
	if (periodic<10000)
			y=1
			
	if (periodic>=10000)
		if (periodic<40000)
			y=2
	if (periodic>=40000)
		if (periodic<100000)
			y=3
	if (periodic>=100000)
			y=4

	if (Math.max(x,y)==1)
		return [0,0,0,0,myFunction(),0,0,0];
	if (Math.max(x,y)==2)
		return [0,0,0,0,myFunction()/2,myFunction()/2,0,0];
	if (Math.max(x,y)==3)
		return [0,0,0,0,myFunction()/3,myFunction()/3,myFunction()/3,0];
	if (Math.max(x,y)==4)
		return [0,0,0,0,myFunction()/4,myFunction()/4,myFunction()/4,myFunction()/4]	;


	}

}

var data = [
    { label: "<u>Equity</u>: Birla SL Frontline Equity",  data: allocationequity()[0], color: "#88AAFF"},
    { label: "<u>Equity</u>:ICICI Focused Bluechip",  data: allocationequity()[1], color: "#1100BB"},
    { label: "<u>Equity</u>:IDFC Premier Equity",  data: allocationequity()[2], color: "#221177"},
    { label: "<u>Equity</u>:Franklin India Prima",  data: allocationequity()[3], color: "#6666FF"},
    { label: "<u>Debt</u>:SBI Short terM",  data: allocationdebt()[0], color: "#30441F"},
    { label: "<u>Debt</u>:Templeton India Income Builder",  data: allocationdebt()[1], color: "#00BB27"},
    { label: "<u>Debt</u>:IDFC Dynamic",  data: allocationdebt()[2], color: "#05E177"},
    { label: "<u>Debt</u>:Birla SL Ultra ST",  data: allocationdebt()[3], color: "#133D27"},
    { label: "<u>Debt</u>:HDFC Cash Mgmt Savings",  data: allocationdebt()[4], color: "#75DB1B"},
    { label: "<u>Debt</u>:Reliance Cash Management",  data: allocationdebt()[5], color: "#22EE5B"},
    { label: "<u>Debt</u>:Templeton India Ultra ST",  data: allocationdebt()[6], color: "#11772D"},
    { label: "<u>Debt</u>:DWS Ultra ST",  data: allocationdebt()[7], color: "#3ED715"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

window.onload=function(){
	if (amountofftrack()<0){
  	document.getElementById("ontrackbutton").style.display='block';
  	document.getElementById("offtrackbutton").style.display='none';}
  	else {
  	document.getElementById("ontrackbutton").style.display='none';
  	document.getElementById("offtrackbutton").style.display='block';}
  
}


</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">


							As you are looking to invest
							<% if @analysis.initialamount > 0 %> Rs. <u><%= @analysis.initialamount %></u> initially
							<%end%>
							<% if @analysis.initialamount > 0 %> 
							<% if @analysis.periodicamount > 0 %> 
							and
							<%end%>
							<%end%>
							<% if @analysis.periodicamount > 0 %>
							 a monthly deposit of Rs. <u><%=@analysis.periodicamount%></u> 
							 <%end%>
			
							for <%= @analysis.timeperiod %> years, 

							we have calculated that a portfolio of
								<script type="text/javascript">document.write(myFunction2())</script> % 

							in equity and <script type="text/javascript">document.write(myFunction())</script> % in debt will maximize 

							your money’s potential growth and reduce 

							potential losses.</font>





						</p> 
					</blockquote>
					<div class ="span3">
					<a href="#myModal5" role="button" class="btn btn-success active" id="ontrackbutton" data-toggle="modal">On Track</a>
					<a href="#myModal6" role="button" class="btn btn-primary  active" id="offtrackbutton" data-toggle="modal">Off Track</a>
					</div>

					
 
					<!-- Modal -->
					<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header" id="myModalLabel">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h2  align = "center" ><font face="Freestyle Script" color= "white">Congratulations</font></h2>
					  </div>
					  <div class="modal-body">
					    <p align = "center">There is a reasonable chance of you achieving your target amount!!</p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
					<!-- Modal -->


					<!-- Modal -->
					<div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header" id="myModalLabel">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h2  align = "center" ><font face="Freestyle Script" color= "white">Recommendation</font></h2>
					  </div>
					  <div class="modal-body">
					    <p align = "justify">There is a low possibility of you achieving your goal. To maximize your chances you must do one of the following<br>
					    	1. Increase initial deposit by Rs. <u><script type="text/javascript">document.write(extrainitialamount())</script></u><br>
							
					    	2. Increase monthly depsosit by Rs. <u><script type="text/javascript">document.write(extramonthlydeposit())</script></u> </p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
					<!-- Modal -->

					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active">Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal10" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal10" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>












<% if @analysis.type == "TaxFree" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">


function allocation(){
	if (<%=@analysis.initialamount%><1000000)
		return [100,0,0]
	if (<%=@analysis.initialamount%>>=1000000)
		if (<%=@analysis.initialamount%><2000000)
			return [50,50,0]
	if (<%=@analysis.initialamount%>>=2000000)
		return [33,33,33]
	
}





var data = [
    { label: "NHPC 10 / 15 / 20 yrs",  data: allocation()[0], color: "violet"},{ label: "REC 10 / 15 / 20 yrs",  data: allocation()[1], color: "blue"},{ label: "PFC 10 /15 / 20 yrs",  data: allocation()[2], color: "red"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">

							As you want to invest Rs. <%= @analysis.initialamount %> in tax free 

							bonds, we have optimized a 100% tax free 

							bond portfolio for you that will maximize 

							your money’s potential growth and reduce 

							potential losses


						</font>
						</p> 
					</blockquote>
					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active"> Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal11" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal11" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>









<% if @analysis.type == "80C" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">


function allocation(){
	if (<%=@analysis.initialamount%><10000)
		return [100,0]
	if (<%=@analysis.initialamount%>>=10000)
		return [50,50]
	
}






var data = [
    { label: "Franklin India Tax Shield",  data: allocation()[0], color: "violet"},{ label: "HDFC Long Term Advantage",  data: allocation()[1], color: "blue"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">

							As you want to invest Rs. <%= @analysis.initialamount %>, you can save 

							up to Rs.<%= @analysis.initialamount*0.309 %> this year in tax. We have decided 

							on the best funds that you should look to 

							invest in that will maximize your money’s 

							potential growth and reduce potential losses.


						</font>
						</p> 
					</blockquote>
					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active">Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal12" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal12" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>



<% if @analysis.type == "RGESS" %>
<style type="text/css">
#placeholder { width: 400px; height: 250px; }
</style>
<script type="text/javascript">


function allocation(){
	if (<%=@analysis.initialamount%><10000)
		return [100,0]
	if (<%=@analysis.initialamount%>>=10000)
		return [50,50]
	
}






var data = [
    { label: "DSP Blackrock RGESS scheme",  data: allocation()[0], color: "violet"},{ label: "UTI RGESS scheme",  data: allocation()[1], color: "blue"}
];
 
$(document).ready(function () {
    $.plot($("#placeholder"), data, {
        series: {
            pie: {
            	innerRadius: 0.4,
                show: true,
                label: true
            }
        },
        grid: {
            hoverable: true
        },
        legend: {
           show: false
        }
    });
    $("#placeholder").bind("plothover", pieHover);
});
 
function pieHover(event, pos, obj) {
    if (!obj)
        return;
 
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#pieHover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}

</script>

<div class ="container-fluid" id= "analysisbackground">
<div class="container" >
	<div class="row-fluid" >
		<div class="span12" id = "head1">
				<br>
				<center><%= image_tag("tick.png", :alt => "tick") %><center>
				<h1 align="center"><font face="Calibri" color= "white">
					Your “<%=@analysis.name%>” Account is set up</font>
				</h1>
			
			</div>
	</div>
			<div class="row-fluid">
				<div class="span6">
					<br><br>
					<div class="hero-unit" style="border:solid rgb(37,56,60) 15px">
					<blockquote>
						<p align="justify"><font face="Times New Roman" color= "black">

							As you are looking to invest Rs. <%= @analysis.initialamount %> under the RGESS scheme, you can save 

							up to Rs.<%= @analysis.initialamount*0.309*0.5 %>. We have customized a portfolio of RGESS funds to maximize your money’s 

							potential gains and minimize potential losses.

							


						</font>
						</p> 
					</blockquote>
					</div>
				</div>
				<div class="span5 offset1">
					<br><br>
					<div id="placeholder"></div>
					<div id="pieHover"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class ="span2 offset4">
				<a href="/static_pages/setup" class="btn btn-primary btn-large active">Add Another Goal</a>
				</div>
				<div class ="span2 offset1">
				
					<a href="#myModal13" class="btn btn-primary btn-large active" data-toggle="modal">How to use RupeeVest</a>
							
 
					<!-- Modal -->
					<div id="myModal13" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  </div>
					  <div class="modal-body">
					    <iframe width="512" height="360" src="//www.youtube.com/embed/e3Se-2rGSww?rel=0" frameborder="0" allowfullscreen></iframe>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<b>What did we do behind the scenes?</b>
					<ul>
						<li>
							 We ran a proprietary quantitative engine on the back end to decide the best asset allocation 
							 for you based on historical performance of markets.
						</li>
						<li>
							 Our team of experts have done all the research to provide you with the best possible 
							 solutions so that you don’t have to take the pain.
						</li>
						<li>
							We will help you invest in the most optimized way by reducing your taxes, providing you 
							with regular insights and keeping track of your goals.
						</li>
						<li>
							All our advice is free as of now so we hope you make the best use of it. Cheers!
						</li>
						
					</ul>
				</div>
			</div>
				
		
</div>

</div>
<%end%>