
<body>
<div class="container">
<div class="verticalLine" >
<h2>Sign in</h2><br>


	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<fieldset>
		
	<%= f.input :email %>
	<%= f.input :password %>
	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.input :remember_me , as: :boolean %></div>
	  <% end -%>
	  <div><%= f.button :submit, "Sign in" %></div>
	  
	  </fieldset>
	<% end %>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>
	

	
</div>





<div align="left" style="font-size: 30pt; padding-top: 150px; margin-left:13cm">
OR
</div>
<div align="center" style="margin-top:-2cm">

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to image_tag("google_logo.png", alt: "slate"), omniauth_authorize_path(resource_name, provider)  %><br>
    <h2><%= link_to  "Sign in with Gmail", omniauth_authorize_path(resource_name, provider) %></h2>
  <% end -%>
<% end -%>


</div>


</div>
</body>