<div class="container-fluid" id= "rgessbackground">
	<div class="container">
	<div class="row">
		<div class="span2" id = "sidebar2">
			<ul class="nav nav-list " id = "sidebar1" >
				
				
				<li class="disabled">
					<a href="#">Allocation</a>
				</li>
				<li class="disabled">
					<a href="#"></a>
				</li>
				<li class="active">
					<a href="#">Goals</a>
				</li>
				<li class="disabled">
					<a href="#"></a>
				</li>
				<li class="disabled">
					<a href="#">Analysis</a>
				</li>
				<li class="disabled">
					<a href="#"></a>
				</li>
				
				<li class="disabled">
					<a href="#">Ask an expert</a>
				</li>
				<li class="disabled">
					<a href="#"></a>
				</li>
				<li class="disabled">
					<a href="#">Downloads</a>
				</li >
				<li class="divider">
				</li>
				
			</ul>
		</div>
		<div class="span8" id = "hero1">
			<div class="hero-unit" id="herounitgoal" style="border:solid rgb(37,56,60) 8px">
			</div>
			<div id="textgoal">
				<h3 align="center"><font face="Cambria" color= "black">
					Tell us more about your goal!</font>
				</h3>
				<p>	<%= simple_form_for @analysis do |f| %>
  						
					<h4 >
						<br><br><font face="Calibri" color= "black">
					<h3>Goal  &nbsp; &nbsp;<%= f.input_field :name, value:'RGESS Tax Savings' %></h3><br>
					<%= f.hidden_field :type, value: 'RGESS'%>
					I'd like to invest Rs. <%= f.input_field :initialamount, value: 50000 %> to save tax by 					investing in an eligible <br> fund under the RGESS scheme in FY13-14.<br>
					(Tip: You can claim a deduction of upto Rs. 25K by investing
					Rs. 50K.)

					</h4>
				</p>
				<p>
					<h4>
					On the next screen we will tell you how to achieve your goal.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%= f.button :submit,'Next' %>
					</h4></font>
				</p>	
					<% end %>
				
			</div>
		</div>
	</div>
	</div>
</div>