
<td><%= current_user.kyc.first_name %> <%= current_user.kyc.last_name %></td><br>
PAN : <td><%= current_user.kyc.pan %></td>
-------------------------------------------------------------------------------------------------------------------------<br>
<% @transactions1.each do |transaction| %>
<table>
    <tr>
      <td><%= @funds.find_by_id(transaction.fund_id).scheme_name %></td>
      <td><%= transaction.bank_id %></td>
      
      <td><%= transaction.amount %></td>
      <td><%= transaction.option %></td>
      <td><%= transaction.transaction_type %></td>
      
    </tr>
  </table>

  <% end %>
   --------------------------------------------------------------------------------------------------------------------------------- <br>
Total amount =  <%= @total %><br>

--------------------------------------------------------------------------------------------------------------------------------
<br>
<% if @transactions1.first.transaction_type == 'SIP' %>

<%= form_tag transactions_ru_path do %>

<%= hidden_field_tag "msgsip", @msgsip %>

<%= submit_tag "Payement gateway" %>
<% end %> 

<% else %>



<%= form_tag transactions_ru_path do %>

<%= hidden_field_tag "msg", @msg %>

<%= submit_tag "Payement gateway" %>
<% end %> 
<% end %>



<!-- <a href="/transactions/holdings">DO holdings</a> -->


