<!DOCTYPE html>
<html>
<head>
  <title>Rupeevest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse" >
  		<div id= "abc" class="navbar-inner" >
  			<div class ="container-fluid">
  				<a href = "/static_pages/home" class = "header_logo pull-left"><%= image_tag("logobig.jpg", alt: "logo") %></a>
  				<ul class = "nav">
  					<li><%= link_to "Why Rupeevest", static_pages_whyus_path %><li>
  					<li><%= link_to "About Us", static_pages_aboutus_path %><li>	
  					<li><%= link_to "Profiler", static_pages_profiler_path %><li>
  					<li><%= link_to "Contact", static_pages_contact_path %><li>
          </ul>
          <li id = "inp" class="input-append pull-right">
            <%= simple_form_for(@visitor) do |f| %> 
                <%= f.input_field :email, :placeholder => "Email" %>
                <%= f.button :submit , 'Keep in touch' %>
              
            <% end %>
          </li>
            
        </ul>
  			</div>
  		</div>
  	</div>




	<div class="container-fluid">	
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:notice] %>
      </div>
    <%end%>
    <% if flash[:alert] %>
      <div class="alert alert-faliure">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:alert] %>
      </div>
    <%end%>
    </div>
		<%= yield %>	





    <!-- starts footer -->

    <div id = "foot" class = "container-fluid fixed-bottom" >
        <hr class="soften">
       <div class="span1 offset5">
      <a href = "https://www.facebook.com/rupeevest"><%= image_tag("facebook.png", alt: "fb") %></a>
    </div>
       <div class="span1 ">
      <a href = "https://twitter.com/rupeevest"><%= image_tag("twitter.png", alt: "fb") %></a>     
    </div>
       <div class="span1">
      <a href = "https://linkedin.com/pub/raghav-nagarajan/13/a47/b65"><%= image_tag("linkedin.png", alt: "fb") %></a>    
    </div><br><br><br><br><hr>
    <h4 align="center">&copy; Rupeevest<h4>
      
    <div>

	
</body>
</html>

