<!DOCTYPE html>
<html>
<head>
  <title>Invest in a Tax Saving ELSS fund to save upto Rs. 30,990 this year in tax under Sec. 80C. | Invest Online, Manage Financial goals and Save Tax | Gold, Mutual Funds, Bonds, Fixed Deposits
</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  
</head>
<body>

	<div class="navbar navbar-fixed-top navbar-inverse" >
  		<div id= "abc" class="navbar-inner" >
  			<div class ="container">
  				<a href = "/static_pages/home" class = "header_logo pull-left"><%= image_tag("logobig.jpg", alt: "logo") %></a>
  				<ul class = "nav">
  					
  					<li><%= link_to "About Us", static_pages_aboutus_path %><li>
            <li><%= link_to "Save Tax", new_taxsaving_path %><li>
            <li><%= link_to "Investment Products", static_pages_productpage_path %><li>   	
  					<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Connect with us  &nbsp;  &nbsp; <%= image_tag("glogo.png", alt: "logo") %>

                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" target="_blank" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=info@rupeevest.com&amp;su=Query%20Regarding%20Rupeevest">Gmail</a></li>
              <li><a tabindex="-1" target="_blank" href="http://compose.mail.yahoo.com/?to=info@rupeevest.com&amp;subject=Query%20Regarding%20Rupeevest">Yahoo</a></li>
              <li><a tabindex="-1" target="_blank" href="https://mail.live.com/default.aspx?rru=compose&amp;to=info@rupeevest.com&amp;subject=Query%20Regarding%20Rupeevest">Hotmail, Outlook, Live Mail</a></li>
              
            </ul>
            <li>
            <a target="_blank" href = "https://www.facebook.com/rupeevest"><%= image_tag("facebook1.png", alt: "fb") %></a>
              </li>
  					
          </ul>

          
          <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                          
                <% if user_signed_in? %>
                  <li><%= link_to current_user.first_name, dashboards_show_path %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>   
                <% else %>
                  <a href="/users/sign_up" class="btn btn-primary active">Register</a>
                  <a href="/users/sign_in" class="btn btn-primary active">Log In</a> 
                <% end %>
                </ul>
            </div>
  			</div>
  		</div>
  	</div>




	<div class="container-fluid">	
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:notice] %>
      </div>
    <%end%>
    <% if flash[:alert] %>
      <div class="alert alert-faliure">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:alert] %>
      </div>
    <%end%>
    </div>
		<%= yield %>	





    <!-- starts footer -->

    <div  class = "nnavbar navbar-fixed-bottom" >
      
    <h4 align="center">&copy; Rupeevest<h4>
      
    <div>

	
</body>
</html>

