<!DOCTYPE html>
<html>
<head>
  <title>Invest Online, Manage Financial goals and Save Tax | Gold, Mutual Funds, Bonds, Fixed Deposits
</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	   <div class="navbar navbar-fixed-top navbar-inverse" >
      <div id= "abc" class="navbar-inner" >
        <div class ="container">
          <a href = "/static_pages/home" class = "header_logo pull-left"><%= image_tag("logobig.jpg", alt: "logo") %></a>
          <ul class = "nav">
          
            <li><a href="#">Welcome Guest</a><li>
            <li><%= link_to "Save Tax", new_taxsaving_path %><li>
               <li><%= link_to "Investment Products", static_pages_productpage_path %><li>
          </ul>
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    
                <% if user_signed_in? %>
                  <li><%= link_to current_user.first_name, dashboards_show_path %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>   
                <% else %>
                  <a href="/users/sign_up" class="btn btn-primary active">Register</a>
                  <a href="/users/sign_in" class="btn btn-primary active">Log In</a> 
                <% end %>
                </ul>
            </div>
        </div>
      </div>
    </div>



		<%= yield %>	


        <div id = "foot2" class = "container fixed-bottom" >
      
    <h4 align="center">&copy; Rupeevest<h4>
      
    <div>





    <!-- starts footer -->

    

	
</body>
</html>

